body, html {
	height: 100%;
	background-color: #080C10;
}

.bg {
	background-image: url(cover.jpg);
	height: 50%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

}


h1{
	font-family: 'Kodchasan', sans-serif;
	color: white;
}

p{
	color: white;
	font-family: 'Kodchasan';
	font-size: x-small;


}

i{
	color: white;
}

.end{
  text-align: center;
}
ul {
  width: auto;
}
li {
  display: inline-block;
  padding: 5px;
}

#name {
	text-align: center;


}

a{
	text-decoration: none;
	color: beige;
}
